body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
}

.contenedor {
    max-width: 1200px; /* Aumentado el ancho máximo */
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.seccion-informacion, .seccion-visualizacion, .seccion-controles {
    margin-bottom: 20px;
}

h2 {
    color: #007bff; /* Azul más claro */
    margin-bottom: 10px;
}

h3 {
    color:#4CAF50;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.grupo-controles {
    display: flex;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="number"], input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Azul más claro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación de cambio de color */
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

#graficaRed {
    width: 100%;
    height: 300px;
    background-color: #444;
}

.grupo-carga-parametros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#btnCargarParametros {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación de cambio de color */
}

#btnCargarParametros:hover {
    background-color: #45a049; /* Verde más oscuro */
}

#removerArchivo {
    color: #007bff; /* Azul claro */
    text-decoration: underline;
    cursor: pointer;
}

#contenedorModeloRed {
    background-color: #4f4f4f;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.subtituloConfigRed {
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
}

.parametros-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parametros-container p {
    margin: 0 10px;
}

.banco_datos-style {
    border-collapse: collapse;
    width: 100%;
}

.banco_datos-style th, .banco_datos-style td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.banco_datos-style th {
    background-color: #f2f2f2;
}

#contenedorModeloRed table {
    width: 100%;
    max-width: 100%;
}